

/* .aboutStyle{
    background-color: #2B2B2B;
} */

.about-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-section{
    margin-top: 100px;
}

.about-container{
    margin-top: 150px;
}