html {
  scroll-behavior: smooth;
}

.app, p, li, h1{
  font-family: 'Montserrat', sans-serif;
}

.customYellowColor{
  color: #FFCD2A;
}

body{
  background-color: #F9F9F8;
  margin-top: 4.5rem;
}


/* For card animation start*/
.trans-card {
  transition: 0.4s;
}

.trans-card:hover {
  transform: translateY(-1rem);
}
/* For card animation end*/

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #0069D9;
}


.btnSubmit {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}

.btnSubmit {
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 7px;
   display: block;
 }

 .btnSubmit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.CustomGreenBtn {background-image: linear-gradient(to right, #0fac55 0%, #1ec55e  51%, #14ad4f  100%)}

.CustomGreenBtn {
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 7px;
   display: block;
 }

 .CustomGreenBtn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
